@font-face {
  font-family: enchantedLand;
  src: url(./assets/Enchanted\ Land.otf);
}

body {
  overflow: hidden;
  overflow-y: hidden;
}

.App {
  min-height: 100vh;
  justify-content: center;
}

.Menu {
  height: 100vh;
}

.MenuBg {
  height: 95vh;
  padding: 2.5vh;
}

.Input {
  all: unset;
  height:5vh;
  position: absolute;
  top: 45.5vh;
  left: 25vh;
  transform: translate(-50%);
  font-family: enchantedLand;
  font-size: 3.5vh;
  color: #000;
  opacity: 0.85;
  overflow: hidden;
  overflow-wrap: break-word ;
  height: 30vh;
  width: 18vh
}

.Input::placeholder{
  color: #000;
}

.Button {
  all:unset;
  height:5vh;
  position: absolute;
  top: 85vh;
  left: 27.5vh;
  transform: translate(-50%);
  cursor: pointer;
}

.ButtonImg {
  width: 17vh;
  height: 7vh;
}

.ButtonImg:hover {
  filter: brightness(90%);
}

@keyframes float {
  0% { transform: translate(-50%, 0); }
  50% { transform: translate(-50%, -10px); }
  100% { transform: translate(-50%, 0); }
}

.Book {
  position: absolute;
  top: 15%;
  left: 65%;
  transform: translate(-50%);
}

.BookLoading {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  pointer-events: none;
  animation: float 2s ease-in-out infinite;
}

.Book, .BookLoading {
  transition: all 1s ease-in-out;
}